body {font-family: tahoma;}
h1, h2 {color:midnightblue;}
h1 {font-size: 32pt;}
h2 {font-size: 27pt;}
body {color:seagreen}
h1 {color:blue;}
p, h1 {
    font-size:200%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:900;
    background-color:bisque;
}
p a {
    color:blueviolet;
}
.secondpara {color:crimson;
}
#firstpara {
   color:darkmagenta;
}